.btn-grad-error {background-image: linear-gradient(to right, #5f595f 0%, #747e7e  51%, #b0b4c0  100%)}
.btn-grad-error {
   font-size: 15px;
   padding: 5px ;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   border-radius: 10px;
   
 }
 .btn-grad {background-image: linear-gradient(to right,  #f19409 0%, #e05454  51%,   #b42c4a 100%)}
 .btn-grad {
    font-size: 15px;
    padding: 5px ;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    border-radius: 10px;
    
  }
 .errorcontainer{
    background: rgb(175, 195, 197);
    background: linear-gradient(90deg, rgb(176, 199, 202) 0%,  rgb(128, 119, 126)100%);
    padding: 50px;
    height: 200%;
}
 .cont{
     padding: 50px;
     align-content: center;
     background-color: #FFE53B;
     background-image: linear-gradient(147deg, #FFE53B 0%, #f16666 74%);
 }
 table {
    width: 100%;
    border: 1px double solid black ;
    border-collapse: collapse;
    
    
  }
  
  th, td {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;}
  .tab-cont
  {
      padding: 25px;
      width: 80%;
    background-color: honeydew;
  }

  img {
    height:150px;
    width: 150px;
  }